.App {
  text-align: center;
  height: 100vh;
  
}

.Env {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @import 'antd/dist/antd.css'; */

.login-form {
  max-width: 300px; 
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.theNav {

}

.theFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}